@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

.podo-actions {
  position: absolute;
  right: 0;
  top: 300px;
  z-index: 9999999;
}

.podo-action {
  margin-bottom: 5px;

}

.podo-action a {
  background: #ffffff;
  color: #000;
  display: block;
  text-decoration: none;
  padding: 5px;
  font-size: 14px;
  font-family: 'Cabin Sketch', cursive;
  border-bottom: 4px solid #fe8900;
}

.podo-action a img {
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}


