body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.toggle> :not(#my-extension-root) {
  width: calc(100% - 400px);
}

#my-extension-root {
  width: 400px;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: white;
  box-shadow: 0px 0px 5px #0000009e;
  border: none;
  padding: 4px;
}

#my-extension-root .my-extension {
  width: 100%;
}

#my-extension-root button {
  background-color: #0095ff;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  margin: 4px;
  padding: 4px 6px;
}

#my-extension-root .my-extension {
  display: inline-block;
}

#my-extension-root .buttons {
  display: flex;
  justify-content: space-evenly;
}

#my-extension-root .extensionBtn {
  width: 23%;
  height: 30px;
}

#my-extension-root .remove,
#my-extension-root #reset {
  background-color: #fb3e44;
}

#my-extension-root .remove {
  width: 10%;
  font-size: 13px;
  visibility: hidden;
}

#my-extension-root .command {
  width: 100%;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 4px;
}

#my-extension-root .command:hover .remove {
  visibility: visible;
}

#my-extension-root .command-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#my-extension-root .event {
  margin: 4px !important;
  display: inline;
  border-radius: 4px;
  padding: 3px 10px;
  justify-content: center;
  vertical-align: middle;
  height: 30px;
}

#my-extension-root .command-body * {
  margin: 4px !important;
  display: inline;
  line-height: 20px;
  border-radius: 4px;
  padding: 3px 10px;
  justify-content: center;
  vertical-align: middle;
}

#my-extension-root .selector {
  color: #0077c8;
  background-color: #c4dff6;
}

#my-extension-root .data {
  color: #ff6a00;
  background-color: #ffc845;
}

#my-extension-root .commands {
  margin-top: 10px;
  overflow: auto;
  height: 95vh;
}

#my-extension-root .click {
  background-color: #d3f6f3;
  color: #007065;
}

#my-extension-root .keydown {
  background-color: #ccfcc6;
  color:#216583;
}

#my-extension-root .verify-text {
  background-color: #fbd1b7;
  color: #44000d;
}

#my-extension-root .verify-link {
  background-color: #fee9b2;
  color: #dc5353;
}

#my-extension-root .verify-dom {
  background-color: #f9fce1;
  color: #007065;
}

#my-extension-root ul {
  padding-inline-start: 0px;
}